<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>問い合わせフォーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>問い合わせフォーム</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="flash">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<form action="{{ url_for('contact_complete') }}" method="POST" novalidate="novalidate">
    <table>
        <tr>
            <td>ユーザー名</td>
            <td>
                <input type="text" name="username" value="{{ username }}" placeholder="ユーザー名">
            </td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td>
                <input type="text" name="email" value="{{ email }}" placeholder="メールアドレス">
            </td>
        </tr>
        <tr>
            <td>お問い合わせ内容</td>
            <td>
                <textarea name="description" placeholder="問い合わせ内容"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="送信">
</form>
</body>
</html>